*{
  box-sizing: border-box;
}

body{
  background-color: #5E9EA0;
  font-family: Arial, sans-serif;
}

.user-card{
  --card-width: 300px;
  width: var(--card-width);
  margin: 20vh auto 0 auto;
}

.upper-block{
  height: 150px;
  background-color: #E85B26;
}

.lower-block{
  background-color: #FFFFFF;
  position: relative;
}

.img-container{
  --container-size: 180px;
  background-color: #90DEAA;
  width: var(--container-size);
  height: var(--container-size);
  border-radius: 50%;
  position: absolute;
  top: calc(var(--container-size) / 2 * -1);
  left: calc((var(--card-width) - var(--container-size)) / 2);
}

.avatar{
  --image-size: calc(var(--container-size) * 0.72);
  width: var(--image-size);
  height: var(--image-size);
  object-fit: cover;
  object-position: top;
  position: relative;
  top: calc(var(--image-size) / 10);
  left: calc(var(--image-size) / 5);
}

.user-info{
  text-align: center;
  padding-top: 100px;
}

.user-name{
  font-weight: bold;
  line-height: 1.6em;
}

.user-position{
  text-transform: capitalize;
  opacity: 0.4;
  margin: 10px 0;
  font-size: 0.8em;
}

.follow-link{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  display: inline-block;
  border: 1px solid rgba(211, 211, 211, 0.8);
  padding: 10px 20px;
  margin-top: 5px;
}

.follow-counter{
  margin-top: 10px;
  font-size: 0.8em;
  opacity: 0.4;
  padding-bottom: 15px;
}